<!doctype html>
<html lang="fr" translate="no" id="dropzone">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicons/favicon-120x120.png') }}" type="image/x-icon">
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('build/css/theme.bundle.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/libs.bundle.css') }}">

        <link rel="stylesheet" href="{{ asset('build/css/material-symbols.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/toast.css') }}"/>

        <link rel="stylesheet" href="{{ asset('bundles/filemanager/libs/fontawesome-free-5.15.4-web/css/all.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/filemanager/libs/jstree/dist/themes/default/style.min.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/filemanager/libs/jstree/dist/themes/simple-cb/style.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/filemanager/libs/blueimp-file-upload/css/jquery.fileupload.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/filemanager/css/manager.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/filemanager/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/filemanager/libs/material-symbols/sharp.css') }}">
    {% endblock %}

    <title>{% block title %}La bibliothèque{% endblock %}</title>

</head>
<body class="mb-4" id="body-cloud">
{% block body %}
    {% block progress_bar %}
        <div class="row">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
        </div>
    {% endblock %}

    <div class="d-flex flex-xs-wrap table-responsive">
        {% if fileManager.tree %}
        <div class="pe-2 col-auto {{ app.request.cookies.get('tree_visible') == "null" or app.request.cookies.get('tree_visible') == "false" ? 'd-none' : '' }}"
             id="tree_div">
            {% block tree %}
                <div id="tree" class="card d-none d-sm-block"></div>
            {% endblock %}
        </div>
        <div class="card flex-grow-1 mb-0">
            <div class="px-3 mt-3 no-tree-blk">
                <div class="row">
                    {% block actions %}
                    <div class="col-lg-auto">
                        <a class="btn btn-sm btn-light mb-2 d-none d-sm-inline-block" href="javascript:void(0)"
                           id="arbo">
                            <span class="material-symbols-sharp">
                                account_tree
                            </span>
                            <span id="arbo-text">{{ app.request.cookies.get('tree_visible') == "null" or app.request.cookies.get('tree_visible') == "false" ? 'Afficher' : 'Masquer' }}</span>
                        </a>
                        {% if fileManager.parent %}
                            <a class="btn btn-sm btn-light mb-2" id="btn-back"
                               title="Retour"
                               href="{{ fileManager.parent }}">
                        <span class="material-symbols-sharp">
                         subdirectory_arrow_left
                        </span> Retour</a>
                        {% endif %}
                        <button type="button" title="Actualiser" class="mb-2 btn btn-sm btn-light"
                                onClick="window.location.reload()" id="btn-reload">
                            <span class="material-symbols-sharp">sync</span>
                            Actualiser
                        </button>

                        {% if permissionsUser().permissionGererCloudCommun %}
                            <button id="btnGroupActions" type="button"
                                    class="mb-2 btn btn-sm btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu pe-2" aria-labelledby="btnGroupActions">
                                <li class="dropdown-item mb-2">
                                    <a href="javascript:void(0);" data-bs-toggle="modal"
                                       data-bs-target="#addFolder">
                                        <span class="material-symbols-sharp">create_new_folder</span>
                                        <span class="bar-action">{{ 'button.add.folder'|trans }}</span>
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="javascript:void(0);">
                                <span class="fileinput-button">
                                <span class="material-symbols-sharp">note_add</span>
                                <span class="bar-action">{{ 'button.add.files'|trans }}</span>
                                    <input id="fileupload" type="file"
                                           data-url="{{ path('file_manager_upload', fileManager.queryParameters) }}"
                                           name="files[]" multiple=""
                                           accept="{{ fileManager.configuration.accept is defined ? fileManager.configuration.accept : (fileManager.type ? accept(fileManager.type)) }}">
                                </span>
                                    </a>
                                </li>
                                {% if fileManager.parent %}
                                    <li class="dropdown-item mb-2">
                                        <a class="js-delete-modal"
                                           data-trigger="click"
                                           data-container="body"
                                           data-bs-toggle="modal"
                                           data-bs-target="#js-confirm-delete"
                                           data-html="true" href="javascript:void(0);"
                                           data-href='{{ path('file_manager_delete', fileManager.queryParameters) }}'>
                                            <span class="material-symbols-sharp">delete</span>
                                            <span class="bar-action">{{ 'button.delete.current'|trans }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="dropdown-item mb-2">
                                    <a id="js-delete-multiple-modal" class="link-disabled" data-trigger="click"
                                       data-container="body"
                                       data-bs-toggle="modal"
                                       data-bs-target="#js-confirm-delete" href="javascript:void(0);"
                                       data-placement="center"
                                       data-html="true">
                                        <span class="material-symbols-sharp">check_box</span>
                                        <span class="bar-action">{{ 'button.delete.selected'|trans }}</span>
                                    </a>
                                </li>
                            </div>
                        {% endif %}
                        <button type="button" title="Ouvrir dans un nouvel onglet" class="mb-2 btn btn-sm btn-light"
                                onclick="window.open('{{ path('file_manager', fileManager.queryParameters) }}', '_blank')">
                            <span class="material-symbols-sharp">open_in_new</span>
                        </button>
                        {% endblock %}
                    </div>
                    {% block display %}
                        <div class="col">
                            <div class="float-end">
                                <input type="search" class="form-control mb-2"
                                       name="search" id="search" placeholder="{{ 'search.placeholder'|trans }}"
                                       aria-describedby="search">
                            </div>
                        </div>
                    {% endblock %}
                </div>
                {% else %}
                <div class="col-lg-12">
                    {% endif %}
                    {% block content %}
                        <form id="form-multiple-delete">
                            {% include '@FileManager/views/_manager_view.html.twig' with {'fileManager' :fileManager,  'fileArray' : fileArray, 'formDelete' : formDelete} only %}
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include '@FileManager/views/_modals.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src='{{ asset('build/js/utils.js') }}'></script>
    <script src="{{ asset('build/js/Toasty/toasty.min.js') }}"></script>
    <script src="{{ asset('build/js/Toasty/toasty-config.js') }}"></script>
    <script src='{{ asset('build/js/Toasty/notification.js') }}'></script>
    <script src="{{ asset('bundles/filemanager/libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/popper-js-2.11.6/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/jstree/dist/jstree.min.js') }}"></script>
    <script src='{{ asset('build/js/jquery-cookie.js') }}'></script>
    <script src="{{ asset('bundles/filemanager/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/blueimp-file-upload/js/jquery.fileupload-process.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/filemanager/libs/jquery-lazy/jquery.lazy.min.js') }}"></script>

    <script>

        const treedata = {{ treeData|raw }};
        const tree = {{ fileManager.tree|json_encode }};
        var url = "{{ path('file_manager', fileManager.queryParameters|merge({'json':true}))|e('js') }}";
        let urlLastRoute = "{{ path('file_manager', fileManager.queryParameters) }}";
        var urldelete = "{{ path('file_manager_delete', fileManager.queryParameters )|e('js') }}";

        const permissionGererCloudCommun = {{ permissionsUser().permissionGererCloudCommun|json_encode }};

        {% for message in app.flashes('success') %}
            displayToast("success", `{{ message }}`, duration = 4000, options = {transition: "pinItUp"});
        {% endfor %}

        {% for message in app.flashes('error') %}
            displayToast("error", `{{ message }}`, duration = 4000, options = {transition: "pinItUp"});
        {% endfor %}
    </script>

    <script src="{{ asset('bundles/filemanager/js/manager.js') }}"></script>

{% endblock %}

</body>
</html>