<div class="table-responsive">
    <table id="table-file-manager" class="table table-wrap table-hover">
        <colgroup>
            <col>
            <col>
            <col class="col-lg-6">
            <col class="col-lg-2">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-2">
        </colgroup>
        <thead class="thead-default">
        <tr>
            <th class="d-none d-sm-table-cell">
                {% block select_all %}

                    {% if permissionsUser().permissionGererCloudCommun %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="select-all"
                                   title="{{ 'select-all'|trans }}">
                        </div>
                    {% endif %}
                {% endblock %}
            </th>
            <th></th>
            <th>
                {{ order(fileManager, 'name') }}
            </th>
            <th class="d-none d-sm-table-cell">
                {{ order(fileManager, 'date') }}
            </th>
            <th class="d-none d-sm-table-cell">
                <a class="false-link" href="javascript:void(0);">{{ 'table.size'|trans }}</a>
            </th>
            <th class="d-none d-sm-table-cell">
                <a class="false-link" href="javascript:void(0);">{{ 'table.dimension'|trans }}</a>
            </th>
            <th class="text-center">
                <a class="false-link" href="javascript:void(0);">{{ 'table.actions'|trans }}</a>
            </th>
        </tr>
        </thead>
        <tbody class="tbody-bordered">

        {% for fileEntity in fileArray %}

            {% set file = fileEntity.file %}

            <tr class="file-wrapper {{ fileEntity.isImage() ? 'img' : fileEntity.isPdf() ? 'pdf' : fileEntity.isVideo() ? 'video' : fileEntity.isAudio() ? 'audio' : file.type == "file" ? 'file' : 'dir' }}">

                <td class="d-none d-sm-table-cell">
                    {% if permissionsUser().permissionGererCloudCommun %}
                        {% block file_checkbox %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="delete[]"
                                       value="{{ file.fileName }}"
                                       title="{{ file.fileName }}">
                            </div>
                        {% endblock %}
                    {% endif %}
                </td>

                <td class="text-center">
                    {% block file_preview %}
                        {{ fileEntity.preview ? fileEntity.preview.html|raw }}
                    {% endblock %}
                </td>
                <td data-value="{{ file.fileName }}" {{ fileEntity.attribut|raw }} class="searchable text-break">
                    {% block file_name %}
                        {% if file.type == "file" and  fileEntity.isPreviewPossible %}
                            <span data-toggle="tooltip" title="Prévisualiser">
                                <a class="btn-cloud-action js-open-modal" href="javascript:void(0);"
                                   data-trigger="click"
                                   data-container="body"
                                   type="button"
                                   data-bs-toggle="modal"
                                   data-bs-target="#{{ fileEntity.isPdf ? 'js-display-pdf' : fileEntity.isImage ? 'js-display-image' : fileEntity.video ? 'js-display-video' : 'js-display-audio' }}"
                                   data-href='{{ fileEntity.preview.path }}'
                                   data-filename="{{ file.fileName }}">
                                 {{ (fileEntity.preview.folder is defined ? fileEntity.preview.folder|raw : file.fileName) }}
                                </a>
                            </span>
                        {% else %}
                            {{ (fileEntity.preview.folder is defined ? fileEntity.preview.folder|raw : file.fileName) }}
                        {% endif %}
                    {% endblock %}
                </td>
                <td class="d-none d-sm-table-cell">
                    {% block file_date %}
                        <small>{{ file.mTime|date('d/m/Y H:i') }}</small>
                    {% endblock %}
                </td>
                <td class="d-none d-sm-table-cell">
                    {% block file_size %}
                        <small>{{ fileEntity.HTMLSize }}</small>
                    {% endblock %}
                </td>
                <td class="d-none d-sm-table-cell">
                    {% block file_dimension %}
                        <small>{{ fileEntity.HTMLDimension }}</small>
                    {% endblock %}
                </td>
                <td class="text-center">
                    {% block file_action %}
                        {% if file.type == "file" %}
                            <a data-placement="left" title="Télécharger"
                               class="text-info mb-2 btn-cloud-action js-download"
                               type="button"
                               href="{{ path('file_manager_file', fileManager.queryParameters|merge({'fileName':file.fileName|url_encode})) }}"
                               download="{{ file.basename() }}">
                                <span class="material-symbols-sharp">cloud_download</span>
                            </a>
                        {% endif %}
                        {% if permissionsUser().permissionGererCloudCommun %}
                            <span data-toggle="tooltip" title="Renommer">
                        <a class="text-success mb-2 btn-cloud-action js-rename-modal" href="javascript:void(0);"
                           data-trigger="click"
                           data-container="body"
                           data-bs-toggle="modal"
                           data-bs-target="#js-confirm-rename"
                           data-html="true"
                           type="button"
                          {% if file.type == "file" %}
                              data-name='{{ file.basename('.'~file.extension) }}'
                              data-extension='{{ file.extension }}'
                          {% else %}
                              data-name='{{ file.filename }}'
                          {% endif %}
                           data-href='{{ path('file_manager_rename', fileManager.queryParameters|merge({'fileName':file.fileName})) }}'>
                            <span class="material-symbols-sharp">edit</span>
                        </a>
                        </span>
                            <span data-toggle="tooltip" title="Supprimer">
                            <a class="text-danger mb-2 btn-cloud-action js-delete-modal" href="javascript:void(0);"
                               data-trigger="click"
                               data-container="body"
                               data-bs-toggle="modal"
                               data-bs-target="#js-confirm-delete"
                               data-html="true"
                               type="button"
                               data-href='{{ path('file_manager_delete', fileManager.queryParameters|merge({'delete[]':file.fileName})) }}'>
                                 <span class="material-symbols-sharp">delete</span>

                            </a>
                        </span>
                        {% endif %}
                    {% endblock %}
                </td>
            </tr>
        {% else %}
            <tr id="tr-no-result">
                <td class="text-center text-muted" colspan="7">C'est vide par ici.. 👻</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>