{% block delete_modal %}
    <div class="modal fade" id="js-confirm-delete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header py-3">
                    <h3 class="modal-title">Confirmez-vous la suppression ? Cette action est irréversible.</h3>
                </div>
                <div class="modal-body mx-auto p-2">
                    <div class="row align-items-center m-3">
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-secondary mb-2" title="Non, annuler !"
                                    data-bs-dismiss="modal">NON, ANNULER !
                            </button>
                        </div>
                        <div class="col-auto">
                            {{ form_start(formDelete) }}
                            {{ form_widget(formDelete, { 'attr': {'class':  'mb-2'} }) }}
                            {{ form_end(formDelete) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block rename_modal %}
    <div class="modal fade" id="js-confirm-rename" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(formRename) }}
                <div class="modal-header py-3">
                    <h3 class="modal-title">Saisissez le nouveau nom</h3>
                </div>
                <div class="modal-body">
                    {{ form_row(formRename.name, { 'attr': {'placeholder':  'Mon incroyable nom de fichier'} }) }}
                </div>
                <div class="modal-footer p-2">
                    <button type="button" class="btn btn-sm btn-secondary"
                            data-bs-dismiss="modal">ANNULER
                    </button>
                    {{ form_row(formRename.send) }}
                </div>
                {{ form_end(formRename) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block add_modal %}
    <div class="modal fade" id="addFolder" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(form) }}
                <div class="modal-header py-3">
                    <h3 class="modal-title">Créer un nouveau dossier</h3>
                </div>
                <div class="modal-body">
                    {{ form_row(form.name, { 'attr': {'placeholder':  'Mon incroyable nom de dossier'} }) }}
                </div>
                <div class="modal-footer p-2">
                    <button type="button" class="btn btn-sm btn-secondary"
                            data-bs-dismiss="modal">ANNULER
                    </button>
                    {{ form_row(form.send) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block preview_modal %}
    <div class="modal fade" id="js-display-image" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-transparent">
                <div class="text-center my-3">
                    <button type="button" class="btn rounded-circle p-3 btn-light btn-close-modal" data-bs-dismiss="modal"
                            aria-label="Close">
                        <span class="material-symbols-sharp material-md-alt">
                            close
                        </span>
                    </button>
                </div>
                <div class="img-body text-center"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block preview_modal_pdf %}
    <div class="modal fade" id="js-display-pdf" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content bg-transparent">
                <div class="text-center my-3">
                    <button type="button" class="btn rounded-circle p-3 btn-light btn-close-modal" data-bs-dismiss="modal"
                            aria-label="Close">
                        <span class="material-symbols-sharp material-md-alt">
                            close
                        </span>
                    </button>
                </div>
                <div class="pdf-body text-center"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block preview_modal_video %}
    <div class="modal fade" id="js-display-video" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content bg-transparent">
                <div class="text-center my-3">
                    <button type="button" class="btn rounded-circle p-3 btn-light btn-close-modal" data-bs-dismiss="modal"
                            aria-label="Close">
                        <span class="material-symbols-sharp material-md-alt">
                            close
                        </span>
                    </button>
                </div>
                <div class="video-body text-center"></div>
            </div>
        </div>
    </div>
{% endblock %}