{% block delete_modal %}
    <div class="modal fade" id="js-confirm-delete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'title.delete'|trans }}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ 'confirm.delete'|trans }}
                </div>
                <div class="modal-footer p-2">
                    <button type="button" class="btn btn-secondary" title="{{ 'button.cancel'|trans }}"
                            data-bs-dismiss="modal"> {{ 'button.cancel'|trans }}</button>
                    {{ form_start(formDelete) }}
                    {{ form_widget(formDelete) }}
                    {{ form_end(formDelete) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block rename_modal %}
    <div class="modal fade" id="js-confirm-rename" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(formRename) }}
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'title.rename.file'|trans }}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_row(formRename.name) }}
                </div>
                <div class="modal-footer p-2">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ 'button.cancel'|trans }}
                    </button>
                    {{ form_row(formRename.send) }}
                </div>
                {{ form_end(formRename) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block add_modal %}
    <div class="modal fade" id="addFolder" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(form) }}
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'title.add.folder'|trans }}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_row(form.name) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ 'button.cancel'|trans }}
                    </button>
                    {{ form_row(form.send) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block preview_modal %}
    <div class="modal fade" id="js-display-image" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="" class="img-fluid" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ 'button.cancel'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block preview_modal_pdf %}
    <div class="modal fade" id="js-display-pdf" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ 'button.cancel'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
